{% extends "lib/in_game.html" %}

{% block header_js %}

{% endblock %}

{% block title %}Index{% endblock %}

{% block game_content %}<p>Here we have some body content.</p>


{% if produced %}
<div class="production-finished">
<h4>Production Finished</h4>
	{% for product in produced %}
	<p>{{ product }}</p>
	{% endfor %}
</div>
{% endif %}

<div class="production">
<h4>Resources in Production</h4>
	{% for product in in_production %}
	<div class="product">
		<p>{{ product.product.name }} will be complete at {{ product.finished }}</p>
	</div>
	{% endfor %}
</div>

{% endblock %}
